<h1><center>Python - Pandas</center></h1>

<center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqUfFmqMthdkODwkTILaPSl97HNaYRuKa8uA&usqp=CAU"></center>

## Objectives 

- Pandas Library (why should you care)
- What is the Pandas Library used for?
- Reading in Data as a DataFrame 
- DataFrame Exploration - Methods & Attributes

## Pandas in Data Science... 

- Used for data cleaning and preparation (about 60-80% of most DS jobs)
- Has a DataFrame object type (this makes modeling and analysis easier than just stand alone arrays) 
- Exploratory Data Analysis (need to explore your data FIRST)

<center><img src="https://files.realpython.com/media/A-Guide-to-Pandas-Dataframes_Watermarked.7330c8fd51bb.jpg"></center>

## What is Pandas? 

- A power data analytics tool (library) built on top of **NUMPY**

- Library used for data wrangling,data cleaning, and more! 

- Can be used to read in datafiles 

- Popular!

## Reading in data as a DataFrame

In [2]:
import numpy as np 
import pandas as pd #need the library!

df = pd.read_csv('data/king_county.csv') #reads in a csv file
type(df)

pandas.core.frame.DataFrame

## Explore the Data - Methods & Attributes

In [4]:
# What's in the first 5 rows of my Dataframe? (method) 

df.head(10)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0
5,7237550310,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530
6,1321400060,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0
7,2008000270,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0
8,2414600126,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730
9,3793500160,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0

In [5]:
# What's in the last 5 rows of my DataFrame? (method)

df.tail()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement
21608,263000018,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0
21609,6600060120,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0
21610,1523300141,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0
21611,291310100,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0
21612,1523300157,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0

In [6]:
#What are my columns and the datatypes stored in those columns? (method)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   price          21613 non-null  float64
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
dtypes: float64(3), int64(10)
memory usage: 2.1 MB

In [7]:
#Summary stats of my columns (method)

df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000

In [8]:
#How many rows and columns in my dataframe? (attribute)

df.shape

(21613, 13)

In [9]:
#What are my column names? (attribute)

df.columns #may be better to do a .info()

Index(['id', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement'],
      dtype='object')

## Locate and filter for certain rows

In [10]:
#loc is for label location filter based on a column label (name)

df.loc[df.bedrooms>=4]

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910
5,7237550310,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530
14,1175000570,530000.0,5,2.00,1810,4850,1.5,0,0,3,7,1810,0
15,9297300055,650000.0,4,3.00,2950,5000,2.0,0,3,3,9,1980,970
17,6865200140,485000.0,4,1.00,1600,4300,1.5,0,0,4,7,1600,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21599,7202300110,810000.0,4,3.00,3990,7838,2.0,0,0,3,9,3990,0
21600,249000205,1537000.0,5,3.75,4470,8088,2.0,0,0,3,11,4470,0
21605,3448900210,610685.0,4,2.50,2520,6023,2.0,0,0,3,9,2520,0
21606,7936000429,1007500.0,4,3.50,3510,7200,2.0,0,0,3,9,2600,910
21609,6600060120,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0

In [11]:
#select certain rows I want to look at 

df.iloc[0:15]

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0
5,7237550310,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530
6,1321400060,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0
7,2008000270,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0
8,2414600126,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730
9,3793500160,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0
10,1736800520,662500.0,3,2.50,3560,9796,1.0,0,0,3,8,1860,1700
11,9212900260,468000.0,2,1.00,1160,6000,1.0,0,0,4,7,860,300
12,114101516,310000.0,3,1.00,1430,19901,1.5,0,0,4,7,1430,0
13,6054650070,400000.0,3,1.75,1370,9680,1.0,0,0,4,7,1370,0
14,1175000570,530000.0,5,2.00,1810,4850,1.5,0,0,3,7,1810,0

## I can also get correlations (this is powerful)

In [12]:
df.corr()

# -1 to 1

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement
id,1.000000,-0.016762,0.001286,0.005160,-0.012258,-0.132109,0.018525,-0.002721,0.011592,-0.023783,0.008130,-0.010842,-0.005151
price,-0.016762,1.000000,0.308350,0.525138,0.702035,0.089661,0.256794,0.266369,0.397293,0.036362,0.667434,0.605567,0.323816
bedrooms,0.001286,0.308350,1.000000,0.515884,0.576671,0.031703,0.175429,-0.006582,0.079532,0.028472,0.356967,0.477600,0.303093
bathrooms,0.005160,0.525138,0.515884,1.000000,0.754665,0.087740,0.500653,0.063744,0.187737,-0.124982,0.664983,0.685342,0.283770
sqft_living,-0.012258,0.702035,0.576671,0.754665,1.000000,0.172826,0.353949,0.103818,0.284611,-0.058753,0.762704,0.876597,0.435043
sqft_lot,-0.132109,0.089661,0.031703,0.087740,0.172826,1.000000,-0.005201,0.021604,0.074710,-0.008958,0.113621,0.183512,0.015286
floors,0.018525,0.256794,0.175429,0.500653,0.353949,-0.005201,1.000000,0.023698,0.029444,-0.263768,0.458183,0.523885,-0.245705
waterfront,-0.002721,0.266369,-0.006582,0.063744,0.103818,0.021604,0.023698,1.000000,0.401857,0.016653,0.082775,0.072075,0.080588
view,0.011592,0.397293,0.079532,0.187737,0.284611,0.074710,0.029444,0.401857,1.000000,0.045990,0.251321,0.167649,0.276947
condition,-0.023783,0.036362,0.028472,-0.124982,-0.058753,-0.008958,-0.263768,0.016653,0.045990,1.000000,-0.144674,-0.158214,0.174105
grade,0.008130,0.667434,0.356967,0.664983,0.762704,0.113621,0.458183,0.082775,0.251321,-0.144674,1.000000,0.755923,0.168392
sqft_above,-0.010842,0.605567,0.477600,0.685342,0.876597,0.183512,0.523885,0.072075,0.167649,-0.158214,0.755923,1.000000,-0.051943
sqft_basement,-0.005151,0.323816,0.303093,0.283770,0.435043,0.015286,-0.245705,0.080588,0.276947,0.174105,0.168392,-0.051943,1.000000

<h1><center>The End</center></h1>

In [ ]:
from traitlets.config.manager import BaseJSONConfigManager
from pathlib import Path
path = Path.home() / ".jupyter" / "nbconfig"
cm = BaseJSONConfigManager(config_dir=str(path))
cm.update(
    "rise",
    {
        "theme": "solarized",
        "transition": "fade",
        "start_slideshow_at": "selected",
        "footer": "  <h3>Learning with Jelly</h3>",
        "header": "  <h2>Python - Pandas</h2>",
        "enable_chalkboard": True
     }
)